<div class="container">
    <div class="row border-bottom pb-3 ">
        <div class="col col-3">
            <div class="mb-3">
                Select the countries you are interested in watching and how open you are to travelling further to follow
                those countries to plan an itinerary.
            </div>
            <div>
                <button type="button" class="btn btn-primary mt-2" (click)="generateItinerary()">Generate
                    itinerary</button>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <div class="d-inline me-1"><b>Travel preference</b>: Less travel</div>
                <input type="range" class="form-range me-2" min="1" max="5" value="3" step="1"
                    style="width: 100px; height: 8px;" #travel>
                <div class="d-inline me-3">More travel</div>
            </div>
            <div class="d-inline">
                <div class="d-inline me-1"><b>Country</b>: </div>
                <select class="selectpicker me-3" data-live-search="true" #country>
                    <optgroup *ngFor="let group of groups" label="{{group.name}}">
                        <option *ngFor="let country of group.children" value="{{country}}">
                            {{countryService.formatCountry(country)}}</option>
                    </optgroup>
                </select>
                <div class="d-inline me-1"><b>Weight</b>: 1</div>
                <input type="range" class="form-range me-2" min="1" max="5" step="1" style="width: 100px; height: 8px;"
                    #weight>
                <div class="d-inline me-3">5</div>
                <div class="d-inline">
                    <button type="button" class="btn btn-secondary" (click)="addPreference()">Add Country</button>
                </div>
            </div>
            <div class="mt-2">
                <ul class="list-group">
                    <li *ngFor="let preference of preferences" class="list-group-item" style="width: 250px">
                        {{countryService.formatCountry(preference.country)}}: {{preference.weight}}
                        <button type="button" class="btn-close ms-2 float-end" aria-label="Close"
                            (click)="removePreference(preference)"></button>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="row pt-3" *ngIf="matches">
        <div class="col col-3">
            <h4>Trip Summary</h4>
            <div class="pb-2"><b>Distance</b>: {{getDistance()}} km</div>
            <div class="pb-2"><b>Cities</b>: {{getCities()}}</div>
            <div class="pb-2"><b>Teams</b>: {{getCountries()}}</div>
            <div class="map pt-2"> </div>
        </div>
        <div class="col">
            <div class="mb-2 d-flex justify-content-end">
                <button (click)="copyLink()" type="button" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-link" viewBox="0 0 16 16" style="margin-bottom: 4px;">
                        <path
                            d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z" />
                        <path
                            d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z" />
                    </svg>
                    Copy Link
                </button>
            </div>
            <div class="table-wrapper">
                <table class="table table-striped">
                    <thead class="bg-white">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Home</th>
                            <th scope="col">Away</th>
                            <th scope="col">City</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let match of matches">
                            <th scope="row">{{match.id}}</th>
                            <td style="white-space:pre-wrap">{{formatCountry(match.home)}}</td>
                            <td style="white-space:pre-wrap">{{formatCountry(match.away)}}</td>
                            <td>{{match.city}}</td>
                            <td>{{formatDate(match.date, match.city)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>