<div class="container">
    <div class="border-bottom pb-3">Itinerary Form</div>

    <div class="row pt-3">
        <div class="col col-3">
            <h4>Trip Summary</h4>
            <div class="pb-2"><b>Distance</b>: {{getDistance()}} km</div>
            <div class="pb-2"><b>Cities</b>: {{getCities()}}</div>
            <div class="pb-2"><b>Teams</b>: {{getCountries()}}</div>
            <div class="map pt-2"> </div>
        </div>
        <div class="col">
            <div class="table-wrapper">
                <table class="table table-striped">
                    <thead class="sticky-top bg-white">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Home</th>
                            <th scope="col">Away</th>
                            <th scope="col">City</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let match of matches">
                            <th scope="row">{{match.id}}</th>
                            <td style="white-space:pre-wrap">{{formatCountry(match.home)}}</td>
                            <td style="white-space:pre-wrap">{{formatCountry(match.away)}}</td>
                            <td>{{match.city}}</td>
                            <td>{{formatDate(match.date, match.city)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>