<div class="container-lg">
    <div class="row border-bottom">
        <div class="col col-3 pb-3">
            <div class="mb-3">
                Select the teams you are interested in watching and cities you want to visit. Match times are in local time.
            </div>
            <!-- Travel prefs -->
            <!--
            <div class="pb-2">
                <div class="d-inline me-1"><b>Travel preference</b>:</div>
                <div> Less
                    <input type="range" class="form-range me-2" min="1" max="5" value="3" step="1" #travel>
                    <div class="d-inline me-3">More</div>
                </div>
            </div>
            -->
            <div>
                <button type="button" class="btn btn-primary mt-2" (click)="generateItinerary()">Generate
                    itinerary</button>
            </div>
        </div>
        <div class="col">
            <!-- Country prefs -->
            <div class="py-2 border-bottom">
                <div class="d-inline">
                    <span>
                        <div class="d-inline-block me-1 label"><b>Team</b>: </div>
                        <select class="selectpicker me-3" data-live-search="true" #country>
                            <optgroup *ngFor="let group of groups" label="{{group.name}}">
                                <option *ngFor="let country of group.children" value="{{country}}">
                                    {{countryService.formatCountry(country)}}</option>
                            </optgroup>
                        </select>
                    </span>
                    <span>
                        <div class="d-inline me-1"><b>Weight</b>: 1</div>
                        <input type="range" class="form-range me-2" min="1" max="5" step="1"
                            style="width: 100px; height: 8px;" #weight>
                        <div class="d-inline me-3">5</div>
                    </span>
                    <span>
                        <div class="d-inline">
                            <button type="button" class="btn btn-secondary" (click)="addPreference()">Add
                                Team</button>
                        </div>
                    </span>
                </div>

                <div class="">
                    <ul *ngFor="let preference of countryPreferences" class="list-group d-inline-block mx-1 mt-2">
                        <li class="list-group-item" style="width: 250px">
                            {{countryService.formatCountry(preference.country)}}: {{preference.weight}}
                            <button type="button" class="btn-close ms-2 float-end" aria-label="Close"
                                (click)="removePreference(preference)"></button>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- City prefs -->
            <div class="py-2">
                <div class="d-flex" style="width: 100%">
                        <div class="d-inline-block me-1 mt-1 label" ><b>Cities</b>: </div>
                        <div class="d-inline-block flex-grow-1" style="max-width: 350px">
                            <select class="selectpicker" multiple data-live-search="true" #city (change)="updateCityPreferences()" data-width="100%">
                                <option *ngFor="let city of cities">{{city}}</option>
                            </select>
                        </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row pt-3" *ngIf="matches">
        <div class="col col-3">
            <h4>Trip Summary</h4>
            <div class="pb-2"><b>Distance</b>: {{getDistance()}} km</div>
            <div class="pb-2"><b>Cities</b>: {{getCities()}}</div>
            <div class="pb-2"><b>Teams</b>: {{getCountries()}}</div>
            <div class="map pt-2"> </div>
        </div>
        <div class="col">
            <div class="mb-2 d-flex justify-content-end">
                <button (click)="copyLink()" type="button" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-link" viewBox="0 0 16 16" style="margin-bottom: 4px;">
                        <path
                            d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z" />
                        <path
                            d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z" />
                    </svg>
                    Copy Link
                </button>
            </div>
            <app-table [matches]="matches" [projected]="[]" [showCheckboxes]="false"></app-table>
        </div>
    </div>
</div>