<div class="container-lg">
    <div class="row">
        <div class="col col-3">
            <div class="border-bottom pb-3">
                <h5>Team</h5>
                <select class="selectpicker" data-live-search="true" data-width="100%" #country (change)="drawPaths()">
                    <optgroup *ngFor="let group of groups" label="{{group.name}}">
                        <option *ngFor="let country of group.children" value="{{country}}"
                            [selected]="country === selectedCountry">{{countryService.formatCountry(country)}}</option>
                    </optgroup>
                </select>
                <div class="form-check pt-1">
                    <input class="form-check-input" type="checkbox" value="" id="first" checked #first
                        (change)="drawPaths()">
                    <label class="form-check-label" for="first">
                        First in group
                    </label>
                </div>
                <div class="form-check pt-1">
                    <input class="form-check-input" type="checkbox" value="" id="second" #second (change)="drawPaths()">
                    <label class="form-check-label" for="second">
                        Second in group
                    </label>
                </div>
            </div>
            <h5 class="pt-3" *ngIf="facts.length">Facts</h5>
            <ul class="list-group">
                <li *ngFor="let fact of facts" class="list-group-item"><b>{{fact.name}}</b>: {{fact.value}}</li>
            </ul>
        </div>
        <div class="map d-flex justify-content-center col"></div>
    </div>
</div>