<div class="container-lg">
    <div class="row">
        <div class="col col-3">
            <div class="pb-2" *ngIf="matchIds">
                <h5>Match IDs</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        {{matchIds.join(', ')}}
                        <button type="button" class="btn-close float-end" aria-label="Close"
                            (click)="clearMatchIds()"></button>
                    </li>
                </ul>
            </div>
            <div class="pb-2 pt-1 border-bottom">
                <h5>Filter</h5>
                <div>Teams</div>
                <select class="selectpicker tm" multiple data-live-search="true" data-actions-box="true"
                    data-width="100%" #countries (change)="updateMatches()" *ngIf="!!selectedCountries">
                    <optgroup *ngFor="let group of groups" label="{{group.name}}">
                        <option *ngFor="let country of group.children" value="{{country}}"
                            [selected]="isCountrySelected(country)">
                            {{countryService.formatCountry(country)}}</option>
                    </optgroup>
                </select>
                <div>Cities</div>
                <select class="selectpicker" multiple data-live-search="true" data-actions-box="true" data-width="100%"
                    #cities (change)="updateMatches()" *ngIf="!!selectedCities">
                    <option *ngFor="let city of allCities" [selected]="isCitySelected(city)">{{city}}</option>
                </select>
            </div>
            <div class="pb-2 pt-1 border-bottom" *ngIf="renderTimezonePicker">
                <h5>Timezone</h5>
                <select class="selectpicker tz" data-width="100%" #timezone (change)="updateMatches()">
                    <option value="local">Local game time</option>
                    <option value="computer">My time</option>
                    <optgroup label="New Zealand">
                        <option value="Pacific/Auckland">New Zealand</option>
                    </optgroup>
                    <optgroup label="Australia">
                        <option value="Australia/Sydney">Sydney/Melbourne/Brisbane</option>
                        <option value="Australia/Adelaide">Adelaide</option>
                        <option value="Australia/Perth">Perth</option>
                    </optgroup>
                </select>
            </div>
            <div class="pb-3 pt-1">
                <div>
                    <h5 class="d-inline">Projected finish</h5>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="See what the schedule looks like if certain teams finish 1st or 2nd in their group."
                        fill="currentColor" class="bi bi-question-circle ms-1 mb-1" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                            d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                    </svg>
                </div>

                <ul class="list-group">
                    <li *ngFor="let projection of projected" class="list-group-item">
                        {{countryService.formatCountry(projection.country)}}: {{projection.position}}
                        <button type="button" class="btn-close float-end" aria-label="Close"
                            (click)="removeProjection(projection)"></button>
                    </li>
                </ul>

                <div class="mt-1">Team</div>
                <select class="selectpicker" data-live-search="true" data-width="100%" #country>
                    <optgroup *ngFor="let group of groups" label="{{group.name}}">
                        <option *ngFor="let country of group.children" value="{{country}}">
                            {{countryService.formatCountry(country)}}</option>
                    </optgroup>
                </select>
                <div class="mt-1">Finish</div>
                <select class="selectpicker" data-width="100%" #position>
                    <option value="1">First in group</option>
                    <option value="2">Second in group</option>
                </select>
                <div class="d-grid d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-secondary mt-2" (click)="addProjection()">Add
                        projection</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mb-2 d-flex justify-content-between">
                <button (click)="filterToSelected()" type="button" class="btn btn-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-filter" viewBox="0 0 16 16" style="margin-bottom: 4px;">
                        <path
                            d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                    </svg>
                    Filter to selected
                </button>
                <button (click)="copyLink()" type="button" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-link" viewBox="0 0 16 16" style="margin-bottom: 4px;">
                        <path
                            d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z" />
                        <path
                            d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z" />
                    </svg>
                    Copy Link
                </button>
            </div>
            <app-table [matches]="matches" [projected]="projected" [timezone]="timezone?.nativeElement.value"
                (selected)="handleSelected($event)">
            </app-table>
        </div>
    </div>