::ng-deep button[role="combobox"],
::ng-deep button[role="combobox"]:hover {
    border: 1px solid rgba(0, 0, 0, .125);
}

.table-wrapper {
    max-height: 75vh;
    overflow-y: auto;
}

@media only screen and (max-width: 600px) {
    .col-3 {
        width: 100% !important;
    }
}