/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: NotoColorEmojiLimited;
    src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
}

.flag {
    font-family: 'NotoColorEmojiLimited';
}